<div class="modal-header">
    <h4 class="modal-title">{{product.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-md-6 product_img">
            <img [src]="product.imageURL" class="img-responsive" >
        </div>
        <div class="col-md-6 product_content">
            <h4>{{product.name}}</h4>
            <div class="rating">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> 
                <span class="fa fa-star"></span>
                (10 reviews)
            </div>
            <p [innerHTML]="product.description"></p>
            <h3 class="cost"><span class="fa fa-usd"></span> {{product.price | currency :'DH'}} </h3>
            
            <div class="space-ten"></div>
            <div class="btn-ground">
                <button type="button" class="btn btn-primary" (click)="addToCart(product)"><span class="fa fa-shopping-cart"></span> Add To Cart</button>
            </div>
        </div>
    </div>
</div>