<ngx-spinner type="ball-clip-rotate" size="default" bdColor="rgba(51,51,51,0.8)">
    <p style="color:azure">Please wait...</p>
</ngx-spinner>

<div class="container-login100 ">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <span class="login100-form-title p-b-37">
                Sign In
            </span>
            <span *ngIf="isLoginFailed" class="text-center mb-2" >
                <p class="text-danger">{{errorMessage}} </p>
            </span>
            <div class="form-group m-b-20">
                <div class="wrap-input100 validate-input " data-validate="Enter username or email">
                    <input class="input100" type="text" name="username" formControlName="username"
                        placeholder="username"
                        [ngClass]="{'has-error': loginForm.get('username').errors && (loginForm.get('username').touched || loginForm.get('username').dirty) }">
                    <span class="focus-input100"></span>
                </div>
                <span class="help-block text-danger "
                    *ngIf="loginForm.get('username').errors && (loginForm.get('username').touched || loginForm.get('username').dirty)">
                    <span *ngIf="loginForm.get('username').errors.required">
                        <p class="text-danger ml-2">Username is required</p>
                    </span>
                </span>
                <span class="help-block text-danger " *ngIf="loginForm.get('username').errors?.minlength">
                    <p class="text-danger ml-2">Username must be greater than 2 charchters</p>
                </span>
            </div>
            <div class="form-group m-b-25">
                <div class="wrap-input100 validate-input " data-validate="Enter password">
                    <input class="input100" type="password" name="pass" formControlName="password"
                        placeholder="password"
                        [ngClass]="{'has-error': loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty) }">
                    <span class="focus-input100"></span>
                </div>
                <span class="help-block text-danger "
                    *ngIf="loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty)">
                    <span *ngIf="loginForm.get('password').errors.required">
                        <p class="text-danger ml-2">Password is required</p>
                    </span>
                </span>
                <span class="help-block text-danger" *ngIf="loginForm.get('password').errors?.minlength">
                    <p class="text-danger  ml-2"> Password must be greater than 3 charchter</p>
                </span>
            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn" [disabled]="!loginForm.valid" >
                    <div class="spinner-border text-left spinner-border-sm mr-2" role="status"
                        *ngIf="isLoading" >
                        <span class="sr-only">Loading...</span>
                      </div>
                    Sign In
                </button>
            </div>

            <div class="text-center p-t-57 p-b-20">
                <span class="txt1">
                    Or login with
                </span>
            </div>

            <div class="flex-c p-b-60">
                <a href="#" class="login100-social-item">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="#" class="login100-social-item">
                    <img src="/assets/images/icons/icon-google.png" alt="GOOGLE">
                </a>
            </div>

            <div class="text-center">
                <a routerLink="/register" class="txt2 hov1">
                    Sign Up
                </a>
            </div>
        </form>


    </div>
</div>
