<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Product name</label>
                <input type="text" class="form-control" placeholder="Product name" formControlName="productName"
                    [ngClass]="{'has-error': productForm.get('productName').errors && (productForm.get('productName').touched || productForm.get('productName').dirty)}">
                <span class="help-block text-danger "
                    *ngIf="productForm.get('productName').errors && (productForm.get('productName').touched || productForm.get('productName').dirty)">
                    <span *ngIf="productForm.get('productName').errors.required">
                        <p class="text-danger ml-2">Product name is required</p>
                    </span>
                </span>
            </div>
            <div class="form-group col-md-6">
                <label>Price</label>
                <input type="number" class="form-control" placeholder="Price" formControlName="price"
                    [ngClass]="{'has-error': productForm.get('price').errors && (productForm.get('price').touched || productForm.get('price').dirty)}">
                <span class="help-block text-danger "
                    *ngIf="productForm.get('price').errors && (productForm.get('price').touched || productForm.get('price').dirty)">
                    <span *ngIf="productForm.get('price').errors.required">
                        <p class="text-danger ml-2">Price is required</p>
                    </span>
                </span>
            </div>
        </div>
  <!--      <div class="form-row">
            <div class="form-group col-md-6">
                <label>Image URL 1</label>
                <input type="text" class="form-control" placeholder="Image URL 1" formControlName="imageURL1"
                    [ngClass]="{'has-error': productForm.get('imageURL1').errors && (productForm.get('imageURL1').touched || productForm.get('imageURL1').dirty)}">
                <span class="help-block text-danger "
                    *ngIf="productForm.get('imageURL1').errors && (productForm.get('imageURL1').touched || productForm.get('imageURL1').dirty)">
                    <span *ngIf="productForm.get('imageURL1').errors.required">
                        <p class="text-danger ml-2">Imgae URL 1 is required</p>
                    </span>
                </span>
            </div>
            <div class="form-group col-md-6">
                <label>Image URL 2</label>
                <input type="text" class="form-control" placeholder="Image URL 2" formControlName="imageURL2"
                    [ngClass]="{'has-error': productForm.get('imageURL2').errors && (productForm.get('imageURL2').touched || productForm.get('imageURL2').dirty)}">
                <span class="help-block text-danger "
                    *ngIf="productForm.get('imageURL2').errors && (productForm.get('imageURL2').touched || productForm.get('imageURL2').dirty)">
                    <span *ngIf="productForm.get('imageURL2').errors.required">
                        <p class="text-danger ml-2">Image URL 2 is required</p>
                    </span>
                </span>
            </div>
        </div> -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Unit stock</label>
                <input type="number" class="form-control" placeholder="Unit stock" formControlName="stock"
                    [ngClass]="{'has-error': productForm.get('stock').errors && (productForm.get('stock').touched || productForm.get('stock').dirty)}">
                <span class="help-block text-danger"
                    *ngIf="productForm.get('stock').errors && (productForm.get('stock').touched || productForm.get('stock').dirty)">
                    <span *ngIf="productForm.get('stock').errors.required">
                        <p class="text-danger ml-2">Unit stock is required</p>
                    </span>
                </span>
            </div>
            <div class="form-group col-md-6">
                <label>Category</label>
                <select class="form-control" formControlName="categorySelect" [(ngModel)]="category.id"
                    (change)="selectChangeHandler($event.target.value)">
                    <option *ngFor="let cat of categoreis" [value]="cat.id" #categorySelect>{{cat.nameCategory}}
                    </option>
                </select>
                <span class="help-block text-danger"
                    *ngIf="productForm.get('categorySelect').errors && (productForm.get('categorySelect').touched || productForm.get('categorySelect').dirty)">
                    <span *ngIf="productForm.get('categorySelect').errors.required">
                        <p class="text-danger ml-2">Category is required</p>
                    </span>
                </span>
            </div>
            <div class="form-group col-md-6">
                <label>Principel image</label>
                <div class="custom-file">
                    <input type="file" id="validatedCustomFile" class="custom-file-input" formControlName="imageFile"
                        (change)="onFileChanged($event)" required 
                        [ngClass]="{'has-error': productForm.get('imageFile').errors}">
                    <label class="custom-file-label" for="validatedCustomFile">{{imageName}}</label>
                    <div class="invalid-feedback" *ngIf="productForm.get('imageFile').errors">Image required</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Secend image</label>
                <div class="custom-file">
                    <input type="file" id="validatedCustomFile2" class="custom-file-input" formControlName="imageFile2"
                        (change)="onFileChangedSecendImage($event)" required
                        [ngClass]="{'has-error': productForm.get('imageFile2').errors}">
                    <label class="custom-file-label" for="validatedCustomFile2">{{secendImageName}}</label>
                    <div class="invalid-feedback" *ngIf="productForm.get('imageFile2').errors">Image required</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <img src="{{product?.imageURL}}" width="250" height="300" />
                </div>
                <div class="form-group col-md-6">
                    <img src="{{product?.imageURL2}}" width="250" height="300" />
                </div>
        </div>
        <quill-editor [styles]="{height: '200px'}" class="mb-5" formControlName="description" [modules]="editorModules"
            [ngClass]="{'has-error': productForm.get('description').errors && (productForm.get('description').touched || productForm.get('description').dirty)}">
        </quill-editor>
        <span class="help-block text-danger "
            *ngIf="productForm.get('description').errors && (productForm.get('description').touched || productForm.get('description').dirty)">
            <span *ngIf="productForm.get('description').errors.required">
                <p class="text-danger ml-2">Description is required</p>
            </span>
        </span>
        <div>
            <p [innerHTML]="desc"></p>
        </div>
        <button type="button" class="btn btn-primary pull-right mt-3" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary  bg-color  ml-3 mt-3" [disabled]="!productForm.valid">
            <div class="spinner-border text-left spinner-border-sm mr-2" role="status" *ngIf="isLoading">
                <span class="sr-only">Loading...</span>
            </div>
            Update
        </button>

    </form>

</div>