<div class="row mt-3">
    <div class="col-lg-3 mb-2">
        <app-categorie></app-categorie>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="cartItems.length > 0">
                    <table class="table table-bordered">
                        <thead class="bg-dark text-light">
                            <tr>
                                <td width="20%">Product image</td>
                                <td width="50%">Product details</td>
                                <td width="30%"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cartItem of cartItems">
                                <td>
                                    <img [src]="cartItem.imageURL" class="img-responsive" width="150" height="200" />
                                </td>
                                <td>
                                    <p>{{cartItem.name}}</p>
                                    <p>{{ cartItem.price | currency : 'DH'}}</p>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Quantity :
                                                <span (click)="remove(cartItem)"
                                                    class="float-right text-danger pointer">
                                                    <i class="fas fa-trash-alt"></i>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <button (click)="decrementQuantity(cartItem)"
                                                class="btn btn-primary btn-sm float-right">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            {{cartItem.quantity}}
                                        </div>
                                        <div class="col-md-4">
                                            <button (click)="incrementQuantity(cartItem)"
                                                class="btn btn-primary btn-sm float-left">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <p>SubTotal : {{cartItem.price *  cartItem.quantity | currency : 'MAD'}}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="font-weight-bold">
                                    <p>Total quantity : {{totalQuantity}}</p>
                                    <p>Shipping : FREE </p>
                                    <p>Total price : {{totalPrice | currency : 'DH'}}</p>
                                    <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="cartItems.length == 0" class="alert alert-warning">
                    Your cart is empty
                </div>
            </div>
        </div>
    </div>
</div>