.cart-basket {
    font-size: .6rem;
    position: absolute;
    top: 2px;
    right: 14em;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #418deb;
    border-radius: 50%;
  }
  .custom-panel{
    background-color: #78e08f;
    border-radius: 50%;
}